.first-Section5 {
    display: flex;
    background: #2b5d71;
    justify-content: space-between;
    align-items: center;
}

.imgContainer {
    width: 45%;
}

.imgContainer img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.content5 {
    width: 55%;
    background: #7dbbd4;
}

.content5 p {
    padding: 2em;
    font-size: 23px;
}

.Heading5 {
    background: white;
    padding: 3em;
    font-size: 25px;
}

.Heading5 h2 {
    color: black;
}
.imgContainer {
    order: 1; /* move imgContainer to the top */
}

.content5 {
    order: 2; /* move content3 below imgContainer */
}
/* Media Queries for Responsive Design */

/* For screens 768px and below */
@media (max-width: 768px) {
    .first-Section5 {
        flex-direction: column;
        text-align: center;
    }

    .imgContainer, .content5{
        width: 100%;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content5 {
        order: 2; /* move content3 below imgContainer */
    }
    .Heading5 {
        padding: 2em;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content5 {
        order: 2; /* move content3 below imgContainer */
    }
}

/* For screens 576px and below (typical smartphones) */
@media (max-width: 576px) {
    .Heading5 {
        font-size: 12px;
    }

    .content5 p {
        font-size: 10px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content5 {
        order: 2; /* move content3 below imgContainer */
    }
}
@media (max-width: 556px) {
    .Heading5 {
        font-size: 10px;
    }

    .content5 p {
        font-size: 12px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content5 {
        order: 2; /* move content3 below imgContainer */
    }
}
@media (max-width: 376px) {
    .Heading5 {
        font-size: 12px;
    }

    .content5 p {
        font-size: 10px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content5 {
        order: 2; /* move content3 below imgContainer */
    }
}