.first-Section3 {
    display: flex;
    background: #f32c49;
    justify-content: space-between;
    align-items: center;
}

.imgContainer {
    width: 45%;
}

.imgContainer img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.content3 {
    width: 55%;
    background: #e16f7f;
}

.content3 p {
    padding: 2em;
    font-size: 23px;
}

.Heading3 {
    background: white;
    padding: 3em;
    font-size: 25px;
}

.Heading3 h2 {
    color: black;
}
.imgContainer {
    order: 1; /* move imgContainer to the top */
}

.content3 {
    order: 2; /* move content3 below imgContainer */
}
/* Media Queries for Responsive Design */

/* For screens 768px and below */
@media (max-width: 768px) {
    .first-Section3 {
        flex-direction: column;
        text-align: center;
    }

    .imgContainer, .content3 {
        width: 100%;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content3 {
        order: 2; /* move content3 below imgContainer */
    }
    .Heading3 {
        padding: 2em;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content3 {
        order: 2; /* move content3 below imgContainer */
    }
}

/* For screens 576px and below (typical smartphones) */
@media (max-width: 576px) {
    .Heading3 {
        font-size: 12px;
    }

    .content3 p {
        font-size: 10px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content3 {
        order: 2; /* move content3 below imgContainer */
    }
}
@media (max-width: 556px) {
    .Heading3 {
        font-size: 10px;
    }

    .content3 p {
        font-size: 12px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content3 {
        order: 2; /* move content3 below imgContainer */
    }
}
@media (max-width: 376px) {
    .Heading3 {
        font-size: 12px;
    }

    .content3 p {
        font-size: 10px;
    }
    .imgContainer {
        order: 1; /* move imgContainer to the top */
    }

   .content3 {
        order: 2; /* move content3 below imgContainer */
    }
}